.App {
  text-align: center;
}

a:hover {
  text-decoration: none !important;
}

.tweet-text>strong {
  font-size: 150%
}

.AdaptiveMedia-badge {
  display: none !important;
}

.header-title {
  font-weight: 800;
  font-size: 1.8em;
  color: #ffffff
}

.QuoteTweet-originalAuthor {
  z-index: 0 !important
}



@media only screen and (max-width: 768px) {
  .no-mobile {
    display: none;
  }
  .header-title {
    font-size: 20px;
  }
  .ProfileTweet-action {
    width: 30px !important;
  }
  .tweet {
    max-height: 320px;
    overflow-y: scroll;
  }
  
}

@media only screen and (max-width: 992px) {
  .xl-only {
    display: none;
  }
}




